{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-xs-6">
            <h1 class="page-header">Hello world</h1>
            <p>Hello, hello.</p>
            <p>
                <button type="button" class="btn btn-lg btn-primary">I'm a button</button>
            </p>
            <h2><i class="fa fa-star-o"></i> I'm a star!</h2>

            <div id="backbone-content">
                <button type="button" class="btn btn-lg btn-primary">I'm a button</button>
            </div>
        </div>
    </div>
{% endblock %}
